/* -----------------------------------------------------------------------------
 * Footer
 * -------------------------------------------------------------------------- */
footer {
  clear: both;
  background-color: #333333;
  color: white;
  font: italic 10px Aller;
  height: 43px;
  padding: 7px 0 0 60px;
}

footer a {
  font: italic 10px Aller;
}