/* -----------------------------------------------------------------------------
 * legends
 * -------------------------------------------------------------------------- */
.legend {
  height: 13px;
  margin: auto;
  width: 25px;
}

.legend-0-gradient {
  background-color: #f6bc0c;
  background-image: -webkit-linear-gradient(top left, #fde79c, #f6bc0c);
  background-image: -moz-linear-gradient(top left, #fde79c, #f6bc0c);
  background-image: -ms-linear-gradient(top left, #fde79c, #f6bc0c);
  background-image: -o-linear-gradient(top left, #fde79c, #f6bc0c);
  background-image: linear-gradient(to bottom right, #fde79c, #f6bc0c);
}

.legend-1-gradient {
  background-color: #284b70;
  background-image: -webkit-linear-gradient(top left, #b9d6f7, #284b70);
  background-image: -moz-linear-gradient(top left, #b9d6f7, #284b70);
  background-image: -ms-linear-gradient(top left, #b9d6f7, #284b70);
  background-image: -o-linear-gradient(top left, #b9d6f7, #284b70);
  background-image: linear-gradient(to bottom right, #b9d6f7, #284b70);
}

.legend-2-gradient {
  background-color: #702828;
  background-image: -webkit-linear-gradient(top left, #fbb7b5, #702828);
  background-image: -moz-linear-gradient(top left, #fbb7b5, #702828);
  background-image: -ms-linear-gradient(top left, #fbb7b5, #702828);
  background-image: -o-linear-gradient(top left, #fbb7b5, #702828);
  background-image: linear-gradient(to bottom right, #fbb7b5, #702828);
}

.legend-3-gradient {
  background-color: #5f7143;
  background-image: -webkit-linear-gradient(top left, #b8c0ac, #5f7143);
  background-image: -moz-linear-gradient(top left, #b8c0ac, #5f7143);
  background-image: -ms-linear-gradient(top left, #b8c0ac, #5f7143);
  background-image: -o-linear-gradient(top left, #b8c0ac, #5f7143);
  background-image: linear-gradient(to bottom right, #b8c0ac, #5f7143);
}

.legend-4-gradient {
  background-color: #382c6c;
  background-image: -webkit-linear-gradient(top left, #a9a3bd, #382c6c);
  background-image: -moz-linear-gradient(top left, #a9a3bd, #382c6c);
  background-image: -ms-linear-gradient(top left, #a9a3bd, #382c6c);
  background-image: -o-linear-gradient(top left, #a9a3bd, #382c6c);
  background-image: linear-gradient(to bottom right, #a9a3bd, #382c6c);
}

.legend-5-gradient {
  background-color: #0271ae;
  background-image: -webkit-linear-gradient(top left, #98c1dc, #0271ae);
  background-image: -moz-linear-gradient(top left, #98c1dc, #0271ae);
  background-image: -ms-linear-gradient(top left, #98c1dc, #0271ae);
  background-image: -o-linear-gradient(top left, #98c1dc, #0271ae);
  background-image: linear-gradient(to bottom right, #98c1dc, #0271ae);
}

.legend-6-gradient {
  background-color: #1d7554;
  background-image: -webkit-linear-gradient(top left, #9dc2b3, #1d7554);
  background-image: -moz-linear-gradient(top left, #9dc2b3, #1d7554);
  background-image: -ms-linear-gradient(top left, #9dc2b3, #1d7554);
  background-image: -o-linear-gradient(top left, #9dc2b3, #1d7554);
  background-image: linear-gradient(to bottom right, #9dc2b3, #1d7554);
}

.legend-7-gradient {
  background-color: #50224f;
  background-image: -webkit-linear-gradient(top left, #b1a1b1, #50224f);
  background-image: -moz-linear-gradient(top left, #b1a1b1, #50224f);
  background-image: -ms-linear-gradient(top left, #b1a1b1, #50224f);
  background-image: -o-linear-gradient(top left, #b1a1b1, #50224f);
  background-image: linear-gradient(to bottom right, #b1a1b1, #50224f);
}

.legend-8-gradient {
  background-color: #706e41;
  background-image: -webkit-linear-gradient(top left, #c1c0ae, #706e41);
  background-image: -moz-linear-gradient(top left, #c1c0ae, #706e41);
  background-image: -ms-linear-gradient(top left, #c1c0ae, #706e41);
  background-image: -o-linear-gradient(top left, #c1c0ae, #706e41);
  background-image: linear-gradient(to bottom right, #c1c0ae, #706e41);
}

.legend-9-gradient {
  background-color: #446a73;
  background-image: -webkit-linear-gradient(top left, #adbdc0, #446a73);
  background-image: -moz-linear-gradient(top left, #adbdc0, #446a73);
  background-image: -ms-linear-gradient(top left, #adbdc0, #446a73);
  background-image: -o-linear-gradient(top left, #adbdc0, #446a73);
  background-image: linear-gradient(to bottom right, #adbdc0, #446a73);
}