/* -----------------------------------------------------------------------------
 * account-selector
 * -------------------------------------------------------------------------- */
.account-selector {
    background-color: $selector-fancy-color;
    border: 0;
    color: $white;
    width: 280px;
    padding-left: 7px;

    .selected {
        text-decoration: italics;
    }

    option {
        padding-left: 10px;
        background-color: $selector-fancy-color;
        color: $white;
    }

}
