/* -----------------------------------------------------------------------------
 * accounts-tab
 * -------------------------------------------------------------------------- */
.accounts-tab {
    .accounts-subsection {
        float: left;
        margin-left: 17px;
    }
    .accounts-left-section {
        width: 638px;
    }
    .highcharts-container {
        margin-top: 8px;
    }
}

/* -----------------------------------------------------------------------------
 * Account Table Wrapper
 * -------------------------------------------------------------------------- */
.account-table .name {
    input {
        height: 17px;
        margin: 0;
        width: 140px;
    }
    i {
        background: none;
        border: none;
        color: #f47513;
        font-size: 19px;
        text-align: center;
        vertical-align: bottom;
        width: 30px;
    }

}

.account-table-clipped-wrapper {
    float: left;
    overflow: hidden;
    width: 640px; /* 30px margin-left + 610px table width */
}

.account-table-unclipped-wrapper {
    float: left;
    margin: 56px 0 0 30px;
    position: relative;
    width: 1250px; /* 610 + 30 (margin) + 610 */
}

/* -----------------------------------------------------------------------------
 * Account Chart
 * -------------------------------------------------------------------------- */
.accounts-chart {
    float: left;
    height: 303px;
    margin: 56px 0 20px 0;
    width: 240px;
}

/* -----------------------------------------------------------------------------
 * add-account-dialog
 * -------------------------------------------------------------------------- */
#add-account-dialog {
    width: 300px;

    .add-account-button {
        margin-top: 20px;
    }
}