/* -----------------------------------------------------------------------------
 * positions-tab
 * -------------------------------------------------------------------------- */
.positions-tab {
    .account-selector {
        left: 60px;
        position: absolute;
        top: 21px;
    }

    h1 {
        font: normal normal 18px/18px Aller;
        left: 60px;
        position: absolute;
        top: 56px;
    }

    .selected-account-name {
        font-weight: bold;
    }

    .button-bar {
        left: 776px;
        position: absolute;
        top: 46px;
    }

    .position-table {
        margin: 83px auto;
        table-layout: fixed;
        width: 820px;
    }

}