<section class="login-section">
	<h1>Log In</h1>

		<form name="loginForm" class="js-loginForm login-form" novalidate>

		    <label for="username">Username</label>
		    <input ng-model="user.username" id="username" name="username" required requirederrorbubble type="text" class="js-username">

		    <label for="password">Password</label>
		    <input ng-model="user.password" id="password" name="password" required type="password" class="js-password">


		    <a ng-click="loginUser()" class="login-button button large person-icon" href=""><span>Login</span></a>
		    <a class="test-login-button button small" href="">Test Login</a>

		</form>
</section>