<table class="account-table bf-table">
    <thead>
        <tr>
            <th class="left-column"></th>
            <th class="name">NAME</th>
            <th class="market-value">MARKET VALUE</th>
            <th class="cash">CASH</th>
            <th class="legend-cell">LEGEND</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="account in brokerageAccounts"
            ng-class="{selected : hoveredAccount.id === account.id}"
            ng-mouseover="setHoveredAccount(account)"
            ng-mouseout="unSetHoveredAccount()"ng-click="showPositions(account)"
            class="account-row {{account.id}}"
            id="{{account.id}}">
            <td class="left-column">
                <i class="icon-edit" ng-click="showEditor = true"></i>
            </td>
            <td class="name">
                <div ng-hide="showEditor">{{account.name}}</div>
                <div ng-show="showEditor">
                    <input class="nameField" type="text" ng-model="account.name">
                    <i class="icon-save" ng-click="changeAccountName(account.id, account.name); showEditor=false;"></i>
                </div>
            </td>
            <td class="market-value">{{account.marketValue.amount | currency}}</td>
            <td class="cash">{{account.cashPosition.amount | currency}}</td>
            <td class="legend-cell">
                <div class="legend legend-{{ $index | legendIndex }}-gradient"></div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="left-column"></td>
            <td class="name"></td>
            <td class="market-value">{{totals.marketValue | currency}}</td>
            <td class="cash">{{totals.cashValue | currency}}</td>
            <td class="legend-cell"></td>
        </tr>
    </tfoot>
</table>