<section class="positions-tab tab clearfix">
    <select name="accounts-list" id="accounts-list" ng-model="brokerageAccounts[0]"
            ng-options="a.name for a in brokerageAccounts">
    </select>

    <table>
        <thead>
            <tr>
                <td>SYMBOL</td>
                <td>QUANTITY</td>
                <td>LAST TRADE</td>
                <td>MARKET VALUE</td>
                <td>PRICE PAID</td>
                <td>TOTAL COST</td>
                <td>GAIN</td>
                <td>GAIN %</td>
                <td>ACTIONS</td>
            </tr>
        </thead>
        <tbody ng-repeat="position in brokerageAccounts[0].positions">
            <tr ng-show="position.isExpanded || position.isParent">
                <td ng-switch="position.isParent">
                    <a ng-switch-when="true" href="" ng-click="togglePositionExpand(brokerageAccounts[0], position.id)">A</a>
                    <span ng-switch-when="true">{{position.instrumentSymbol}}</span>
                    <span ng-switch-default>{{position.lotCreationTime || position.instrumentSymbol}}</span>
                </td>
                <td>{{position.quantity}}</td>
                <td>{{position.lastTrade.amount | currency}}</td>
                <td>{{position.marketValue.amount | currency}}</td>
                <td>{{position.pricePaid.amount | currency}}</td>
                <td>{{position.totalCost.amount | currency}}</td>
                <td>{{position.gain.amount | currency}}</td>
                <td>{{position.gain.amount ? (position.gainPercent * 100) + '%' : ''}}</td>
                <td>
                    <a href="">Buy</a>
                    <a href="">Sell</a>
                </td>
            </tr>
        </tbody>
    </table>

</section>